* {
    margin: 0;
    padding: 0;
  }

body{
    color: blac;
    font-family: 'Oswald', sans-serif;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

.head{
    width: 100%;
    height: 50px;
    border: 0px;
}

.menubar{
    color: black;
    margin: 0px auto;
    height: 90px;
    border: 0;
    font-size: 20px;
    text-align: center;
}

.menublock {
    width: 100px;
    display: inline-block; 
    padding: 5px;
}

.menublock:hover {
	background-color: black;
    color: white;
	left: 50%;
	bottom: -10px;
	transition: all 0.4s ease-in-out;
    border-radius: 5px;
    padding: 5px;
}

.logo{
    width: 120px;
    display: inline-block; 
    text-align: left;
}

.login{
    width: 100px;
    display: inline-block; 
    text-align: right;
}

.section-intro{
    filter: opacity(90%);
    background-size: 100%;
    color: white;
    height: 700px;
    background-color: black;
}

.introName{
    margin-left: 100px;
}

h1{
    font-size: 600%;
}

.product-box{
    height: 400px;
    width: 1000px;
}



