*{
    margin:  0;
    padding: 0;
}

body{
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 100%;
}

div, section, span, ul, li, a {
    box-sizing: border-box;
}

/* CSS reset */

.navbar{
    width: 100%;
    height: 90px;
    background-color: white;
    display: inline-block;
    position: fixed;
    padding: 1px 10px;
    justify-content: space-between;
    font-size: 20px;
    display: flex;
    align-items: center;
    z-index: 5;
}

header {
    display: inline-block;
}

#menubar li {
    list-style: none;
    display: inline-block;
    margin: 20px;   
}

#menubar li a{
    color: black;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
}

section{
    width: 100%;
    height: 100vh;
    float: left;
}

h1{
    font-size: 600%;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

.button{
    flex: 1;
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    width: 100px;
    text-decoration: none;

}

.button:hover{
    background-color: black;
    color: white;
    transition: all 0.4s ease-in-out;       
}

#home{
    background: url("../Photos/blackbg.png");
    background-repeat: no-repeat;
    color: white;
    background-color: black;
}

.home-content{
    padding: 100px;
}

#about{
    background-color: whitesmoke;
    color: black;
    display: flex;  
    align-items: center;
    justify-content: center;/*
    box-sizing: border-box;*/
    /*padding-top: 100px;*/
}
 
.about-content{  
    background: url("../Photos/solidblack.png") no-repeat left;
    background-size: 60%;
    overflow: hidden;
    padding: 70px 0;
}

.inner{
    width:  55%;
    float: right;
    background-color: #fdfdfd;
    padding: 100px;
}

.inner h2{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.inner p {
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
}

#products{
    background-color: black;
    color: white;
    height : 100%;
}

.products-content{
    padding: 100px;
}

#customers{
    background-color: white;
    color: black;
    text-align: center;
}

.customers-content{
    padding: 100px;
}

.customers-content p{
    font-style: italic;
}
.border {
    width: 160px;
    height: 5px;
    background: blue;
    margin:  26px auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    flex: 33.33% ;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.review{
    background: whitesmoke;
    padding: 30px;
}

.review img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name{
    font-size: 20px;
    margin: 10px 0;
}

.stars{
    color: black;
    margin-bottom: 10px;
}

#contact{
    background-color: black;
    color: white;
}

.contact-content{
    position: relative;
    padding: 50px;
}

.contact-content .title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    grid-area: form;
}

.info{
    grid-area: info;
}

.map{
    grid-area: map;
}

.contact {
    padding: 30px;
    background: white;
    color:  black;
}

.contact h3{
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 7fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 10px;
    margin-top: 0px;
    height: 500px;
}

.formBox{
    position: relative;
    width: 100%;
}

.formBox .row50{
    display: flex;
    gap:  30px;
}

.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.form {
    height: 100%;
}

.formBox .inputBox .row100{
    width:  100%;
}

.inputBox span{
    color: #0072e1;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}

.inputBox input{
    padding: 10px;
    outline: none;
    border: 1px solid #333;
}

.inputBox textarea{
    padding: 10px;
    outline: none;
    border: 1px solid #333;
    resize: none;
}

.submit {
    background: #5B8FBD;
    color: white;
    border: none;
    font-weight: 500;
    padding: 14px 15px;
    width: 120px;
}

.info{
    padding-top: 15px;
    background: #0047AB;
    color:  white;
    height: 90%;
}

.info .infoBox div {
    display: flex;
    align-items: center;
}

.info .infoBox div span{
    min-width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-right: 10px ;
    color :  #87CEEB;
}

.map {
    margin: 0px;
    background-color: #A7C7E7;
    height: 100%;
    padding: 5px;
}

.gmap {
    margin: auto;
}

footer{
    background: whitesmoke;
    height: 30vh;
    width: 100vw;
    padding-top: 40px;
}

.footer-content{/*
    display: flex;*/
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
}

.socials a i {
    font-size: 1.3rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: gray;
}
