*{
    margin:  0;
    padding: 0;
}

body{
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 100%;
}

div, section, span, ul, li, a {
    box-sizing: border-box;
}

/* CSS reset */

.navbar{
    width: 100%;
    height: 100px;
    background-color: white;
    display: inline-block;
    position: fixed;
    padding: 1px 10px;
    justify-content: space-between;
    font-size: 20px;
    display: flex;
    align-items: center;
}

header {
        display: inline-block;
}

#menubar li {
    list-style: none;
    display: inline-block;
    margin: 20px;   
}

#menubar li a{
    color: black;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
}

section{
    width: 100%;
    height: 100vh;
    float: left;
}

h1{
    font-size: 600%;
}

#home{
    background: url("../Photos/blackbg.png");
    background-repeat: no-repeat;
    color: white;
    background-color: black;
}

.home-content{
    padding: 100px;
}

#about{
    background-color: white;
    color: black;   
}

.about-content{
    padding: 100px;
}

#products{
    background-color: black;
    color: white;
    height : 100%;
}

.products-content{
    padding: 100px;
}

#customers{
    background-color: white;
    color: black;
}

.customers-content{
    padding: 100px;
}

#contact{
    background-color: black;
    color: white;
}

.contact-content{
    position: relative;
    padding: 100px;
}
.contact-content .title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    grid-area: form;
}

.info{
    grid-area: info;
}

.map{
    grid-area: map;
}

.contact {
    padding: 30px;
    background: white;
    color:  black;
}

.contact h3{
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.formBox{
    position: relative;
    width: 100%;
}

.formBox .row50{
    display: flex;
    gap:  30px;
}

.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .inputBox .row100{
    width:  100%;
}

.inputBox span{
    color: #18b7ff;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}

.inputBox input{
    padding: 10px;
    outline: none;
    border: 1px solid #333;
}

.inputBox textarea{
    padding: 10px;
    outline: none;
    border: 1px solid #333;
    resize: none;

}

.submit {
    background: #5B8FBD;
    color: white;
    border: 1px #5B8FBD;
    font-weight: 500;
    padding: 14px 15px;
    width: 120px;
}