.ventiStoryPic{
    background-image: url("Pictures/nameless_bard.png");
    background-repeat: no-repeat;
    opacity: 100%;
    height: 500px;
    padding: 30px;
    position: relative;
}

.ventiText{
    background: lightblue;
    opacity: 100%;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Comfortaa';
    padding: 15px;
}

.ventiStoryBox{
    position: relative;
    font-family: 'Comfortaa';
    border-width: 5px;
    left: 135px;
    position: absolute;
    height: 100px;
    width: 700px;
    zoom: 75%;
}


.zhongliText{
    background: rgb(160, 144, 0);
    opacity: 100%;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Comfortaa';
    padding: 15px;
}

.zhongliStoryPic{
    background-image: url("Pictures/zhongli_dragon.PNG");
    background-repeat: no-repeat;
    opacity: 100%;
    height: 500px;
    padding: 30px;
    position: relative;
}

.zhongliStoryBox{
    position: relative;
    margin-right: 1000px;
    font-family: 'Comfortaa';
    border-width: 5px;
    left: 910px;
    position: absolute;
    height: 100px;
    width: 700px;
    zoom: 75%;
}

.xiaoStoryBox{
    position: relative;
    margin-right: 1500px;
    font-family: 'Comfortaa';
    border-width: 5px;
    left: 1700px;
    position: absolute;
    height: 100px;
    width: 700px;
    zoom: 75%;
}

.xiaoStoryPic{
    background-image: url("Pictures/xiao_pic.PNG");
    background-repeat: no-repeat;
    opacity: 100%;
    height: 500px;
    padding: 30px;
    position: relative;
}

.xiaoText{
    background: rgb(113, 163, 80);
    opacity: 100%;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Comfortaa';
    padding: 15px;
}

.milkStoryBox{
    position: relative;
    margin-right: 1500px;
    font-family: 'Comfortaa';
    border-width: 5px;
    left: 2500px;
    position: absolute;
    height: 100px;
    width: 700px;
    zoom: 75%;
}

.milkText{
    background: rgb(63, 150, 221);
    opacity: 100%;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Comfortaa';
    padding: 15px;
}

.milkStoryPic{
    background-image: url("Pictures/coconut_milk.PNG");
    background-repeat: no-repeat;
    opacity: 100%;
    height: 500px;
    padding: 30px;
    position: relative;
}
/*Ningguang*/
.ningguangStoryBox{
    position: relative;
    margin-right: 1500px;
    font-family: 'Comfortaa';
    border-width: 5px;
    left: 3300px;
    position: absolute;
    height: 100px;
    width: 700px;
    zoom: 75%;
}

.ningguangText{
    border-radius: 15px;
    background: rgb(235, 193, 6);
    opacity: 100%;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Comfortaa';
    padding: 15px;
}

.ningguangStoryPic{
    background-image: url("Pictures/ningguang.PNG");
    background-repeat: no-repeat;
    opacity: 100%;
    height: 500px;
    padding: 30px;
    position: relative;
}


.iframeBox{
    height: 500px;
    width: 700px;
}

.insideBox{
    font-family: 'Comfortaa';
}

h1{
    padding: 10px;
    background-color:rgb(221, 224, 79);
}

nav {
    background-color: gray;
    opacity: 100%;
}

ul{
    list-style-type: none;
    font-size: 40px;
    background-color: greenyellow;
    position: relative;
}

li {
    display: inline
}

img{
    opacity: 50%;    
}

p{
    background: transparent;
}