body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa';
    background-color: #2A0944;
    color: #FEC260;
}

.box{    
    margin: 1rem auto;    
    padding: 3rem;
    background: #A12568;
    width: 50%;
    height: 600%;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.header {
    vertical-align: middle;
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 30px;
}

hr {
    border-top: 3px dashed;
    margin-top: 30px;
  }

  .buttons {
    transition-duration: 0.4s;
    text-align: center;
  }

  .btn {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition-duration: 0.4s;
    text-align: center;
    border-radius: 0.3rem;
    background-color:#3B185F;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    width : 50%;
    height : 50%;
    
}

a:link {
    color:  #FEC260;
    text-decoration: none;
}

a:visited {
    color:  #FEC260;
    text-decoration: none;
}

a:hover {
    color: white;
   
}

